<section class="about-page">
    <div class="container">
        <h1>О компании "Свои Люди"</h1>
        <div class="about-content">
            <div class="about-text">
                <p>Компания "Свои Люди" - это команда профессионалов с многолетним опытом в сфере переездов. Мы специализируемся на организации переездов любой сложности, от небольших квартир до крупных офисов.</p>
                <p>Наша миссия - сделать процесс переезда максимально комфортным и беззаботным для наших клиентов. Мы понимаем, что переезд - это стресс, и делаем всё возможное, чтобы минимизировать его.</p>
                <div class="about-features">
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <span>Более 10 лет опыта</span>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <span>Более 1000 успешных переездов</span>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <span>Гарантия сохранности вещей</span>
                    </div>
                </div>
            </div>
            <div class="about-image">
                <img src="/images/about-team.jpg" alt="Наша команда">
            </div>
        </div>
    </div>
</section> 